body
{
  background-image: url(the-other-images/interf/logoazul.png);
  background-repeat: no-repeat;
  background-size: 140px 40px;
  background-position: 6% 25px;
}
th
{
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
}
td
{
  text-align: center;
  font-size: 11px;
  border: 1px solid black;
}
table
{
  border: 1px solid black;
}
.shad
{
  font-size: 20px;
  font-weight: bold;
  border: 1px flat #000033;
}
button,input[type=submit],input[type=reset]
{
  background-color: #D6EAF8;
  padding: 4px 4px;
  border: outset #ABB2B9;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 10px #000033;
}
.evilbtn
{
  display: inline;
  background-color: #F7DC6F;
  border:  double #FCF3CF;
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin-right: 5%;
  cursor: default;
  border-radius: 50%;
  height: 60px;
}
.containerOfRod
{
  padding: 4px 4px;
  box-sizing: border-box;
  font-size: 14px;
  border:10px groove #616161;
  border-radius: 10px;
}
.container 
{ 
  padding: 4px 4px; 
  box-sizing: border-box; 
  font-size: 20px; 
  border:10px groove #616161;
  border-radius: 10px;
} 